/* refrenced from Web Dev simplified https://www.youtube.com/watch?v=riDzcEQbX6k&t=1363s */
*, *::before, *::after {
    box-sizing: border-box;
    
}


.container {
   
    align-content: center;
    justify-content: center;
}

body {
    text-align: center;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}
.hide {
    display: none;
}
